$color-primary: #3f51b5
$color-error: #ff0033
$color-success: #4BB543
$color-primary-text: #454545
$color-secondary-text: #8f8f8f
$color-hover: #ececec

$ease-out-back: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)

body
  height: 100%
  background: #5262bc
html
  height: 100%
