@import '../_base.sass'

.admin
  background: $color-primary !important
  height: 100% !important
  padding: 20px !important

  &-back-card
    width: 50px !important
    height: 50px !important
    border-radius: 5px !important
    position: relative !important
    background: white !important
    left: 0% !important
    top: 0% !important

  &-users-card
    border-radius: 5px !important
    position: relative !important
    background: white !important
