@import '../_base.sass'

.course-grid
  position: relative
  margin-left: -15px !important
  padding-right: 10px !important
  margin-top: 1px !important
  padding-bottom: 10px !important

.course-list-appear
  opacity: 0 !important

.course-list-appear.course-list-appear-active
  opacity: 1 !important
  transition: all 500ms linear
