@import '../_base.sass'

.cc-course-card
  height: 130px !important
  width: 300px !important
  border-radius: 5px !important
  margin-left: 15px !important
  margin-top: 15px !important
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
  cursor: pointer

  &:hover
    transform: perspective(200px) translateZ(6px) !important

.cc-course-card-upload
  height: 330px !important
  width: 350px !important
  border-radius: 5px !important
  margin-left: 15px !important
  margin-top: 15px !important
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275)

.cc-course-card-directory
  height: 400px !important
  width: 400px !important
  border-radius: 5px !important
  margin-left: 15px !important
  margin-top: 15px !important
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275)

.cc-course-card-content
  padding: 0px !important
  overflow: hidden !important
  height: 100% !important

.cc-title-container
  display: flex !important
  flex-direction: row !important
  padding-top: 30px !important
  margin-bottom: 15px !important

.cc-title
  color: $color-primary-text !important
  font-size: 25px !important
  font-weight: 480em !important
  padding-left: 15px !important

.cc-header-container
  flex-direction: column !important

.cc-stat-container
  margin-left: auto !important

.cc-body-container
  height: 125px !important
  width: 300px !important
  margin: 0px !important

.cc-body-chip
  font-size: 12.5px !important
  margin-left: 5px !important
  margin-top: 5px !important

.cc-footer-container
  height: 40px !important
  flex-direction: row !important
  justify-content: space-between !important
  display: flex
  cursor: pointer

.cc-upload-button
  color: $color-secondary-text !important
  height: 30px !important
  width: 30px !important
  margin-top: 5px !important
  margin-left: 10px !important
  transition: all 100ms ease-in !important

  &:hover
    @extend .cc-upload-button
    color: $color-primary-text !important
    transform: perspective(100px) translate3d(0px, 0px, 7px) !important

.cc-doupload-button
  height: 30px !important
  width: 100px !important
  margin-top: 2.5px !important
  margin-left: 10px !important

.cc-expand-more-icon
  height: 30px !important
  width: 30px !important
  color: $color-secondary-text !important
  margin-top: 5px !important
  margin-right: 10px !important
  transition: all 300ms ease-out !important

  &-hover
    @extend .cc-expand-more-icon
    color: $color-primary-text !important
    transform: perspective(100px) translate3d(0px, 0px, 7px)

  &-open
    @extend .cc-expand-more-icon
    transform: perspective(100px) rotate(180deg)

.cc-stat
  color: $color-primary-text !important
  font-size: 17px !important
  font-weight: 300em !important
  margin-right: 10px !important

.cc-size-label
  color: $color-secondary-text !important
  font-size: 13px !important
  padding-left: 15px !important

.cc-title-bar
  width: 5px !important
  background-color: $color-primary-text !important
  height: 40px !important
  position: relative !important

.cc-dropzone
  width: 350px !important
  height: 200px !important
  display: flex !important
  justify-content: center !important
  align-items: center !important
  transition: all 200ms ease-in !important
  cursor: pointer !important
  overflow: scroll !important

  &-text
    font-size: 20px !important
    font-weight: 500 !important
    color: $color-secondary-text !important

  &-active
    @extend .cc-dropzone
    background-color: #f6f6f6

  &-filelist
    height: 200px !important
    padding-top: 0px !important
    padding-bottom: 0px !important

    &-title
      color: $color-primary-text !important
      font-size: 15px !important

.cc-navbar
  height: 30px !important
  width: 400px !important
  display: flex !important
  align-items: center !important

  &-title
    font-size: 16px !important
    width: 100% !important
    text-align: center !important

  &-icon-back
    height: 25px !important
    width: 25px !important
    margin-left: 15px !important

  &-icon-forward
    height: 25px !important
    width: 25px !important
    margin-right: 15px !important

.cc-filelist
  height: 225px !important
  width: 400px !important
  overflow: scroll !important
  transition: all 150ms linear

  &-transformed
    @extend .cc-filelist
    transform: translateX(-100%)

  &-container
    height: 240px !important
    width: 800px
    display: flex

  &-icon
    height: 24px !important
    width: 24px !important
    min-width: 24px !important
    min-height: 24px !important

    &-delete
      height: 40px !important

  &-itemtext
    word-wrap: break-word
    line-height: 20px
    font-size: 13px
    padding: 0px 16px
    flex: 1 1 auto
    max-width: 220px

  &-chip
