@import '../_base.sass'

.card-container
  top: 60px !important
  position: relative !important

.card-top
  height: 10px !important
  border-radius: 10px 10px 0 0 !important
  margin: auto !important
  width: 430px !important
  background: rgba(255, 255, 255, .6) !important

.card-stack-back
  transform: perspective(500px) translate3d(0px, 0px, -10px)
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19)

.card-stack
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19)

.card-top-back
  @extend .card-top
  background: rgba(255, 255, 255, .4) !important

.card-content
  padding: 0px !important
  overflow: hidden !important
  height: 100% !important

.progress
  margin-top: 47px !important

.error
  height: 45px !important
  color: $color-error !important
  text-align: center !important
  margin-left: 45px !important
  margin-right: 45px !important

.error-signup
  @extend .error
  padding-top: 20px !important

.card
  border-radius: 10px !important
  margin: auto !important
  padding-left: 0 !important

.card-login
  @extend .card
  width: 450px !important
  height: 500px !important

.card-login-middle
  @extend .card-login
  background: rgba(255, 255, 255, .6) !important

.card-register
  @extend .card
  width: 450px !important
  height: 550px !important
  position: relative !important
  margin: auto !important
  top: -485px !important

.title-container
  display: flex !important
  flex-direction: row !important
  padding-top: 40px !important
  margin-bottom: 50px !important

.title
  color: $color-primary !important
  font-size: 35px !important
  font-weight: 580em !important
  padding-left: 40px !important

.title-bar
  width: 5px !important
  background-color: $color-primary !important
  height: 45px !important
  top: -7px !important
  position: relative !important

.form-control
  margin-left: 45px !important
  margin-right: 45px !important
  margin-top: 30px !important
  font-size: 25px !important
  font-weight: 300 !important
  display: flex !important

.button
  display: block !important
  margin: auto !important
  width: 250px !important
  height: 60px !important
  font-size: 22px !important
  margin-top: 50px !important
  font-weight: 500em !important

.no-account-button
  display: block !important
  margin: auto !important
  font-size: 17px !important
  margin-top: 20px !important
  font-weight: 400 !important
  text-transform: none !important

.icon-button
  margin-left: auto !important
  margin-right: 30px !important
  margin-top: -10px !important
  color: $color-primary !important

.close-icon
  width: 40px !important
  height: 40px !important

.slide-in-enter
  top: 200px !important

.slide-in-enter.slide-in-enter-active
  top: -485px !important
  transition: all 300ms ease-out

.slide-in-leave
  top: -485px !important

.slide-in-leave.slide-in-leave-active
  top: 200px !important
  transition: all 300ms ease-in
