@import '../_base.sass'

.app-bar
  border-radius: 10px !important
  color: $color-primary-text !important
  flex: 1 1 auto !important
  background-color: #FFF !important
  position: relative !important
  overflow: hidden !important
  max-height: 64px !important

.app-bar-progress
  width: 100% !important

.account-box-button
  color: $color-primary-text !important
  margin-left: auto !important

.account-box
  height: 30px !important
  width: 30px !important

.app-bar-menu-user
  outline: none !important

.app-bar-appear
  top: -75px !important

.app-bar-appear.app-bar-appear-active
  top: 0px !important
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
