@import '../_base.sass'

$upload-dialog-width: 500px
$upload-dialog-height: 40px
$upload-dialog-height-expanded: 300px

.upload-dialog
  bottom: 0px !important
  left: 50% !important
  border-top-right-radius: 5px !important
  border-top-left-radius: 5px !important
  overflow: hidden !important
  margin-left: $upload-dialog-width / 2 * -1 !important
  width: $upload-dialog-width !important
  height: $upload-dialog-height !important
  background-color: white !important
  position: fixed !important
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 200ms !important

  &-expanded
    @extend .upload-dialog
    height: $upload-dialog-height-expanded !important

  &-header
    cursor: pointer !important
    height: $upload-dialog-height!important
    top: 0px !important
    padding: 5px !important
    display: flex !important
    justify-content: space-between !important

    &-right
      display: flex

  &-title
    font-size: 24px !important
    font-weight: 500 !important
    padding-top: 5px !important
    color: $color-primary-text !important
    transition: all ease-out 200ms !important

    &-expanded
      font-size: 26px !important
      padding-top: 10px !important
      padding-left: 15px !important

  &-checkmark
    height: 30px !important
    width: 30px !important
    color: $color-success !important

  &-chevron
    height: 43px !important
    width: 30px !important
    padding-right: 10px !important

  &-cancel
    height: 30px !important
    width: 30px !important
    color: $color-error !important

  &-finished
    height: 30px !important
    height: 30px !important
    width: 30px !important
    background-color: $color-success !important
    color: white !important
    border-radius: 15px !important
    display: table !important

    &-text
      font-size: 20px !important
      font-weight: 500 !important
      text-align: center !important
      vertical-align: middle !important
      display: table-cell !important
      color: white  !important

  &-failed
    height: 30px !important
    height: 30px !important
    width: 30px !important
    background-color: $color-error !important
    border-radius: 15px !important
    display: table !important
    margin-right: 3px !important

    &-text
      font-size: 20px !important
      font-weight: 500 !important
      text-align: center !important
      vertical-align: middle !important
      display: table-cell !important
      color: white  !important

  &-list
    height: 250px !important
    width: 500px !important
    padding-top: 0px !important
    padding-bottom: 15px !important

  &-body
    overflow: scroll !important
    padding-bottom: 15px !important

  &-listitem
    height: 0px !important
    text-align: center !important
    display: block !important
    vertical-align: middle !important
    transition: all ease-out 100ms !important
    padding: 0px !important

    &-success
      @extend .upload-dialog-listitem
      background-color: $color-success !important

    &-error
      @extend .upload-dialog-listitem
      background-color: $color-error !important

    &-expanded
      height: 15px !important
      padding-top: 8px !important
      padding-bottom: 8px !important
      transition: all ease-out 100ms

    &-text
      font-size: 13.5px !important
      color: white !important
      line-height: 15px !important

  &-close
    height: 30px !important
    width: 30px !important

    &-icon
      height: 30px !important
      width: 30px !important
      color: $color-primary-text !important
